= render "logo_type-signup"
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    .field-label
      = f.label :name
    .field-input
      = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    .field-label
      = f.label :email
    .field-input
      = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    .field-label
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
    .field-input
      = f.password_field :password, autocomplete: "new-password"
  .field
    .field-label
      = f.label :password_confirmation
    .field-input
      = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
.shared-links
  = render "devise/shared/links"