= render "logo_type-edit"
= form_for (current_user) do |f|
  .field
    .field-label
      = f.label :name
    .field-input
      = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    .field-label
      = f.label :email
    .field-input
      = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "Update"
.shared-links-C